{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Create New Post</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" id="postForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                        {{ form.title|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                        {{ form.description|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.post_type.id_for_label }}" class="form-label">Post Type</label>
                        {{ form.post_type|add_class:"form-control" }}
                    </div>
                    
                    <div class="mb-3 file-upload-section">
                        <label for="{{ form.file.id_for_label }}" class="form-label">File</label>
                        <div class="input-group">
                            {{ form.file|add_class:"form-control" }}
                            <button type="button" id="editImageBtn" class="btn btn-info" style="display: none;">Edit Image</button>
                        </div>
                        <div class="form-text">For images, upload PNG files. For videos, upload MP4 files.</div>
                    </div>
                    
                    <!-- Image Editor Section (initially hidden) -->
                    <div id="imageEditorSection" style="display: none;">
                        <div class="card mb-3">
                            <div class="card-header bg-info text-white">
                                <h5>Image Editor</h5>
                            </div>
                            <div class="card-body">
                                <div class="image-preview-container mb-3">
                                    <canvas id="imageCanvas" class="img-fluid border"></canvas>
                                </div>
                                
                                <ul class="nav nav-tabs" id="editorTabs" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="filters-tab" data-bs-toggle="tab" data-bs-target="#filters" type="button" role="tab">Filters</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="adjust-tab" data-bs-toggle="tab" data-bs-target="#adjust" type="button" role="tab">Adjust</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="text-tab" data-bs-toggle="tab" data-bs-target="#text" type="button" role="tab">Text</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="emoji-tab" data-bs-toggle="tab" data-bs-target="#emoji" type="button" role="tab">Emoji</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="draw-tab" data-bs-toggle="tab" data-bs-target="#draw" type="button" role="tab">Draw</button>
                                    </li>
                                </ul>
                                
                                <div class="tab-content py-3" id="editorTabContent">
                                    <!-- Filters Tab -->
                                    <div class="tab-pane fade show active" id="filters" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <button type="button" class="btn btn-outline-primary w-100" data-filter="grayscale">Grayscale</button>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <button type="button" class="btn btn-outline-primary w-100" data-filter="sepia">Sepia</button>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <button type="button" class="btn btn-outline-primary w-100" data-filter="invert">Invert</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Adjust Tab -->
                                    <div class="tab-pane fade" id="adjust" role="tabpanel">
                                        <div class="mb-3">
                                            <label for="brightness" class="form-label">Brightness</label>
                                            <input type="range" class="form-range" id="brightness" min="0" max="200" value="100">
                                        </div>
                                        <div class="mb-3">
                                            <label for="contrast" class="form-label">Contrast</label>
                                            <input type="range" class="form-range" id="contrast" min="0" max="200" value="100">
                                        </div>
                                        <div class="mb-3">
                                            <label for="saturation" class="form-label">Saturation</label>
                                            <input type="range" class="form-range" id="saturation" min="0" max="200" value="100">
                                        </div>
                                    </div>
                                    
                                    <!-- Text Tab -->
                                    <div class="tab-pane fade" id="text" role="tabpanel">
                                        <div class="mb-3">
                                            <label for="textInput" class="form-label">Add Text</label>
                                            <input type="text" class="form-control" id="textInput" placeholder="Enter your text">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="fontSize" class="form-label">Font Size</label>
                                                <input type="range" class="form-range" id="fontSize" min="10" max="100" value="30">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="textColor" class="form-label">Text Color</label>
                                                <input type="color" class="form-control form-control-color" id="textColor" value="#000000">
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" id="addTextBtn">Add Text</button>
                                    </div>
                                    
                                    
                                      
                                    </div>
                                    
                                  
                                        
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="model footer text-center">
                        <button type="submit" class="btn btn-primary  "><i class="fa fa-plus" ></i> Create Post</button>
                       
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}