{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Create New Post</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" id="postForm">
                    {% csrf_token %}
                    <div class="mt-2">
                        <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                        {{ form.title|add_class:"form-control" }}
                    </div>
                    <div class="mt-2">
                        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                        {{ form.description|add_class:"form-control" }}
                    </div>
                    <div class="mt-2">
                        <label for="{{ form.post_type.id_for_label }}" class="form-label">Post Type</label>
                        {{ form.post_type|add_class:"form-control" }}
                    </div>
                    
                    <div class="mt-2 file-upload-section">
                        <label for="{{ form.file.id_for_label }}" class="form-label">File</label>
                        <div class="input-group">
                            {{ form.file|add_class:"form-control" }}
                            
                        </div>
                        <div >For images, upload '.png', '.jpg', '.jpeg', '.gif', '.bmp', '.webp' files. For videos, upload MP4 files.</div>
                    </div>
                    
        
                    
                    <div class="model footer text-center" action="{% url 'create_post' %}">
                        <button type="submit" class="btn btn-primary  "><i class="fa fa-plus" if post=='image' & !post.file ></i> Create Post</button>

                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}