
{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    {% if not user.profile.private_account %}
    <h3>Followers of {{ user.username | title }}</h3>
    

    <div class="list-group list-group-flush mt-4 w-50 justify-content-center">
        
        {% for follow in followers %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                {% if follow.follower.profile_pic %}
                <img src="{{ follow.follower.profile_pic.url }}" class="rounded-circle me-2" style="width: 60px; height: 60px;" alt="{{ follow.follower.user.username }}">
                {% else %}
                <div class="rounded-circle bg-dark text-white d-flex align-items-center justify-content-center me-3  text-secondary" style="width: 50px; height: 50px;">
                    <span style="font-size: 24px;">{{ follow.follower.user.username|first|upper }}</span>
                </div>
                {% endif %}
                {% if follow.follower.user.username == request.user.username %}
                <a href="{% url 'profile'  %}" style="margin-left: 350px;">{{request.user.username}}</a>
                {% else %}
                <a href="{% url 'profile_detail' follow.follower.user.username %}" style="margin-left: 350px;">{{ follow.follower.user.username }}</a>
                {% endif %}
            </div>
            
           <!--
             {% if request.user != follow.follower.user %}
                {% if user_following_them %}
                <a href="{% url 'unfollow_user' follow.follower.user.username %}" class="btn btn-sm btn-outline-danger">Unfollow</a>
                {% else %}
                <a href="{% url 'follow_user' follow.follower.user.username %}" class="btn btn-sm btn-primary">Follow</a>
                {% endif %}
            {% endif %}-->
        </div>
        {% empty %}
        <div class="alert alert-info">No followers yet.</div>
        {% endfor %}
    </div>
    {% else %}
        <div class="alert alert-info">
            <i class="bi bi-lock-fill"></i> This account is private. Follow to see their followers.
        </div>
    {% endif %}
</div>
{% endblock %}