<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/splash.css' %}">
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <script>
        // Redirect after 3 seconds
        setTimeout(function() {
            window.location.href = "{% url 'home' %}";
        }, 3000);
    </script>
</body>
</html>
<!-- The link of splash screen
https://codepen.io/ekkebus/pen/ppMbrg-->